body,html{ margin:0 auto; padding:0px; font-size:62.5%; font-family:'Microsoft Yahei','微软雅黑'; max-width:640px; background:#fff;}
input,i,b{font-family:'Microsoft Yahei','微软雅黑'; margin:0px; padding:0px; font-style:normal }
ul,li,p{ list-style:none; margin:0px; padding:0px;}
img{ border:none; max-width:100%}
a{ text-decoration:none;}
.clear{ clear:both; height:0px; line-height:0px;}
.fl{ float:left;}
.fr{ float:right}


.banner{ position:relative;}
.banner a{ width:20%; background:#ffbf09; color:#cc171c; font-size:3.6em; font-weight:bold; text-align:center; padding-top:1%; padding-bottom:1%; display:block; position:absolute; right:2%; bottom:13%; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; box-shadow: 6px 6px #6f0802;-webkit-box-shadow: 6px 6px #6f0802; -moz-box-shadow: 6px 6px #6f0802;}
.title{ position:relative; width:100%; margin:3% auto;}
.con1{ color:#9c5107; font-size:3.6em; line-height:1.6em; width:94%; margin:auto}
.con1 span{ color:#e60000;}
.con1 i{ border:1px solid #e60000; color:#e60000; border-radius:5px; padding:0.5%; padding-left:1%; padding-right:1%; margin-left:5px; margin-right:5px}

.con2 img{ float:left; width:20%; margin-left:3%;}
.con2 .divr{ float:left;width:72%;}
.spant{ display:inline-block; font-size:3.6em; background:#ed4853; padding:1%; padding-left:3%; padding-right:3%; color:#fff; border-radius:10px; font-weight:bold; margin-left:3%}
.con2 .divr p{ color:#9c5107; line-height:1.8em; font-size:3.6em; margin-top:2%; margin-left:3%}
.spant2{ margin-top:3%; margin-bottom:1%}
.conp .con1{ margin-top:1%;}
.img{ width:94%; display:block; margin:2% auto}
.con3div{ background:#fde6c3; padding:2%; margin-top:3%}
.con3div span{ color:#ff0033;font-size:1em;}
.con3div p{ font-size:3.2em; line-height:1.8em;}
.con3left{ width:36%; margin-left:3%;}
.con3right{ width:48%; margin-right:3%;}
.con1000{ color:#333}
table{ background:#cc171c; margin:3% auto}
table td{ background:#fff; color:#20190f; text-align:center; font-size:3.6em; line-height:2.2em;}
.td1{ height:50px; background:url(images/bgt.jpg) repeat-x; color:#fff; font-size:5em; color:#fff; text-align:center}
.td2{ height:40px; background:url(images/bgtd.jpg) repeat-x; color:#fff; font-size:3.6em;text-align:center }
@media (min-width:580px) and (max-width:640px) { 
	body,html{ font-size:58.5%; }
}
@media (min-width:480px) and (max-width:580px) { 
	body,html{ font-size:53.5%; }
}
@media (min-width:430px) and (max-width:480px) { 
	body,html{ font-size:50.5%; }
}
@media (min-width:350px) and (max-width:430px) { 
	body,html{ font-size:48.5%; }
}