html{ font-size:62.5%;}
body,html{ margin:0 auto; padding:0px; font-family:'Microsoft Yahei','微软雅黑'; background:#fff;
    max-width: 750px;}
input,i,b{font-family:'Microsoft Yahei','微软雅黑'; margin:0px; padding:0px; font-style:normal }
h2,h4,ul,li,p{ list-style:none; margin:0px; padding:0px;}
img{ border:none; max-width:100%}
a{ text-decoration:none;}
.clear{ clear:both; height:0px; line-height:0px;}
.fl{ float:left;}
.fr{ float:right}
.banner{
    width:100%;
    display: block;
    height:auto;
}
.360header{
    width: 100%;
    background-color:#da3932;
    overflow: hidden;
}
.fenge{
    width: 100%;
}
.active{
    color: white;
    margin:0 4%;
    background: url("../img/fenge.png") no-repeat top center;
    background-size: 100% auto;
    overflow: hidden;
}
.active_span {
	display: block;
	margin: .6% 4.4%;
	font-size: .8em;
}
.active_p{
    font-size: 1.2em;
    display: block;
    margin-left: 9%;
    margin-bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;

}
.active_h4{
    font-size: 1.6em;
    display: block;
    margin-top: -3%;
    margin-left: 9%;
    line-height:2.4em;
    font-family: Arial, Helvetica, sans-serif;

}
.active_line{
    line-height: 1.6em;
}
.register {width: 100%;height: 6.2222em;background: #fcebd2;}
.register ul li {display: block;width: 46%;height: 3.9111em;border: 1px solid #da3932;border-radius: .4444em;float: left;margin-top: .8888em;text-align: center;line-height: 4em;}
.register ul li a {font-size: 1.5111em;color: #da3932;}
.register ul li:nth-child(1) {margin-left: 2%;}
.register ul li:nth-child(2) {margin-left: 4%;background: #da3932;}
.register ul li:nth-child(2) a {color: #fcebd2;}
.footer{
    background-color: #fdecd2;
    width:100%;
    overflow: hidden;
    padding-top: 15px;
}
.qizhi{
    text-align: center;
    height: 30px;
    vertical-align:middle;
    margin: 10px;
}
.qizhi *{
    vertical-align:middle;
}
.qizhi_img{
    width: 30px;
    height: 30px;
    display: inline-block;
}
.qizhi_img img{
    width: 100%;
    height: auto;
}
.qizhi span{
    line-height: 30px;
    display: inline-block;
    color: #d4372e;
    font-size: 1.6em;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;

}
.jigou_list{
    margin: 10px 10px;
    position: relative;
}
.jigou_list li{
    width: 49%;
    display: inline-block;
    margin-bottom: 5px;
}
.jigou_list li:nth-child(odd){
    border-right: 1px solid #9f9794;
}
.jigou_list li i{
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
}
.jigou_list li div{
   margin-left: 45px;
}
.jigou_list li div h2{
    color: #d4372e;
    font-size: 1.4em;
    font-weight:bold;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}
.jigou_list li div span{
    color: #32292c;
    font-size: 1.2em;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}




