<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<!--数字字典service-->
	<bean id="DictBaseServiceImpl" class="com.wirich.service.cjqf.system.impl.DictBaseServiceImpl">
		<property name="dictBaseDao" ref="dictBaseDaoImpl"></property>
	</bean>
	<!--数字字典Dao-->
	<bean id="dictBaseDaoImpl" class="com.wirich.dao.cjqf.system.impl.DictBaseDaoImpl">
	</bean>
	
	<!--银行网点号service-->
	<bean id="BankChannelIdServiceImpl" class="com.wirich.service.cjqf.system.impl.BankChannelIdServiceImpl">
		<property name="bankChannelIdDao" ref="bankChannelIdDaoImpl"></property>
	</bean>
	<!--银行网点号Dao-->
	<bean id="bankChannelIdDaoImpl" class="com.wirich.dao.cjqf.system.impl.BankChannelIdDaoImpl">
	</bean>
</beans>