<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd" >	
       
    <!-- 私募列表Action-->
	<bean id="PrivateFundListWebAction" class="com.wirich.action.cjqfweb.privated.CjqfWebprivatedAction" scope="prototype">
		<property name="privateService" ref="WebQueryPrivateServiceImpl"></property>
	</bean>
	<bean id="WebQueryPrivateServiceImpl" class="com.wirich.service.cjqfweb.privated.Impl.WebQueryPrivateServiceImpl">
		<property name="privateListDao" ref="CjqfwebPrivateListDaoImpl"></property>
		<property name="privatedFundManagerDao" ref="CjqfWebPrivatedFundManagerDaoImpl"></property>
		<property name="privateFundOtherInfomationDao" ref="CjqfWebPrivateFundOtherInfomationDaoImpl"></property>
		<property name="privateFundMainDao" ref="CjqfWebPrivateFundMainDaoImpl"></property>
		<property name="privateFundChartDao" ref="CjqfWebPrivateFundChartDaoImpl"></property>
		<property name="privateFundDataDao" ref="CjqfWebPrivateFundDataDaoImpl"></property>
		<property name="indexeodpricesDao" ref="AIndexeodpricesDaoImpl"></property>
		<property name="chaetDao" ref="FCjqfWebPrivateFundChartDaoImpl"></property>
	</bean>	
	<bean id="CjqfwebPrivateListDaoImpl" class="com.wirich.dao.cjqfwed.privated.impl.CjqfwebPrivateListDaoImpl" >
	</bean>
	<bean id="CjqfWebPrivatedFundManagerDaoImpl" class="com.wirich.dao.cjqfwed.privated.impl.CjqfWebPrivatedFundManagerDaoImpl" >
	</bean>
	<bean id="CjqfWebPrivateFundOtherInfomationDaoImpl" class="com.wirich.dao.cjqfwed.privated.impl.CjqfWebPrivateFundOtherInfomationDaoImpl" >
	</bean>
	<bean id="CjqfWebPrivateFundMainDaoImpl" class="com.wirich.dao.cjqfwed.privated.impl.CjqfWebPrivateFundMainDaoImpl" >
	</bean>
	<bean id="CjqfWebPrivateFundChartDaoImpl" class="com.wirich.dao.cjqfwed.privated.impl.CjqfWebPrivateFundChartDaoImpl" >
	</bean>
	<bean id="CjqfWebPrivateFundDataDaoImpl" class="com.wirich.dao.cjqfwed.privated.impl.CjqfWebPrivateFundDataDaoImpl" >
	</bean>
	<bean id="AIndexeodpricesDaoImpl" class="com.wirich.dao.wind.astock.impl.AIndexeodpricesDaoImpl">
	</bean> 
	<bean id="FCjqfWebPrivateFundChartDaoImpl" class="com.wirich.dao.cjqfwed.privated.impl.FCjqfWebPrivateFundChartDaoImpl">
	</bean> 
</beans>