@charset "utf-8";
@import url("./base.css");
.invest{
	width:998px;
	background:#FFFFFF;
}
.investltabs{
	width:998px;
	overflow:hidden;
	border-right:1px solid #C8D2DC;
	border-left:1px solid #C8D2DC;
	border-bottom:none;
}
.investltabs li{
	height:48px;
	line-height:48px;
	width:186px;
	float:left;
	border:1px solid #C8D2DC;
	border-right:none;
	background:#F9F9F9;
}
.investltabs li a{
	display: block;
	height:48px;
	text-align: center;
	color:#535353;
	font-weight:bold;
	font-size: 18px;
	line-height: 56px;
	*line-height: 50px;
}
.investltabs li a img{
	margin-right:10px;
	margin-bottom: -5px;
}
.investltabs li a font{
	position:relative;
	bottom:4px;
}
.investltabs .thistab{
	width:249px;
	border-top:3px solid #2F91E8;
	border-left:1px solid #C8D2DC;
	border-bottom:none;
	background:none;
}
.investltab_con{
	display:none;
	padding-top: 15px;
	padding-left: 15px;
}
.investltab_conbox{
	width:998px;
	border:1px solid #C8D2DC;
	border-top:none;
}


.productproductconditions{
	width: 968px;
}
.productconditions dl{
	border-bottom: 1px solid #DFDFDF;
	padding-top: 9px;
	padding-bottom: 8px; 
	overflow: hidden;
}
.productconditions dl dt{
	width: 133px;
}
.productconditions dl dd{
	width: 120px;
}
.productconditions dl dd input[type='radio']{
	margin-right: 12px;
	vertical-align: middle;
	margin-top: -4px;
}
.produconditiright{
	border-left: 0px;
	height: 118px;
	*height: 119px;
	width: 114px;
}
.produconditiright .prodquery{
	display: inline-block;
	background: url(../images/produconditiright.jpg) no-repeat;
	width: 66px;
	height: 28px;
	line-height: 28px;
	color: #FFFFFF;
	margin-top: 45px;
	margin-left: 25px;
}

.productlist{
	width: 968px;
}

.productlist dl{
	border-bottom: 1px solid #C8D2DC;
}

.productlist .prodname{
	background: #FAFAFA;
	font-weight: bold;
	color: #666666;
	font-size: 15px;
	border-right:1px solid #E0E0E0; 
}
.productlist .prodreason{
	border-left:1px dashed #E0E0E0; 
	display: inline-block;
	/* height: 32px; */
	line-height: 18px;
	padding-left:10px;
	width: 270px;
   margin-top:10px;
}
.productlist .prodpurchase{
	background: url(../images/prodpurchase.jpg) no-repeat;
	height: 34px;
	width: 75px;
	line-height:30px;
	display: inline-block;
	font-size: 16px;
	color: #FFFFFF;
	margin-top: 9px;
}
.productlist .produdl01{
	height: 38px;
	line-height: 38px;
}
.productlist .produdl01 .prodreasonlogo{
	vertical-align: middle;
	margin-right: 10px;
}
.productlist .produdl02{
	height: 52px;
	line-height: 52px;
	overflow: hidden;
}
.produdl106{
width: 123px;
}
.produdl180{
width: 180px;
}
.produdl325{
width: 325px;
}
.produdl91{
width: 93px;
}
.fontFE9900{
	color: #FE9900;
	font-size: 13px;
}
.font777777{
	color: #666666;
	font-size: 12px;
}
.produpage{
	margin-top: 26px;
	margin-bottom: 26px;
}
.prodsortlist{
	display: inline-block;
	width: 13px;
	line-height: 13px;
	vertical-align: middle;
	margin-left: 3px;
}
.prodsortlist span{
	background: url(../images/divico.png) no-repeat;
	width: 13px;
	height: 10px;
	display: inline-block;
	cursor: pointer;
}
.prodsortlist .prodsortspan01{
	background-position: -7px -25px;
}
.prodsortlist .prodsortspan02{
	background-position: -31px -25px;
}

.productname:hover {
	color: #409FF3;
}