@charset "utf-8";
/* CSS Document */
body,html,ul,li,h1,h2,h3,h4,h5,p,session{ margin:0px; padding:0px; list-style-type:none; font-family:'microsoft yahei','微软雅黑';}
body,html{ margin:0 auto; max-width:720px;}
img{ border:none; max-width:100%}
.clear{ clear:both;}
a{text-decoration:none;outline:none; color:#000}

.img100{ width:100%;}
.img94{ width:94%; display:block; margin:auto}
.table94{ width:94%; display:block; margin:auto; background:#389ad7; font-size:1.2em; line-height:1.5em; margin-bottom:5%}
.table94 td{ background:#fff;}
.table94 tr .td1{ width:27%; text-align:center; color:#f39800; font-weight:bold; background:#fffbf2;}
.table94 tr .td2{ width:500px; padding:3%;}
.table94 td span{ color:#389ad7}
.yybtn{ bottom: 0; color: #fff; height: 43px; position: fixed; width: 100%;}
.title{ background:#f39800; font-size:1.2em; width:94%; margin:auto; line-height:2em; text-align:center; color:#fff; font-weight:bold; border-radius:1.1.2em; margin-top:6%; margin-bottom:3%}
.tx{ display:block; margin:auto; width:27%;}
.pcenter{ text-align:center; font-size:1.2em; line-height:1.5em; }
.pcenter span{ display:block; color:#f39800; font-weight:bold}
.p15{ font-size:1.2em; line-height:1.5em; width:94%; margin:0 auto; margin-bottom:3%}

.spanhs{ color:#f39800; font-size:1.2em; font-weight:bold}
.p1{ margin-top:4%}

.imgxx{ margin-top:4%; margin-bottom:3%}
.pbot span{ font-weight:normal;}
