* {margin: 0;padding: 0;}
.clearfix:after {content: "";clear: both;display: block;}
.clearfix {zoom: 1;}
html {width: 100%;height: 100%;}
body {background: #e30039;width: 100%;height: 100%;}
body canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
}
.tl_wrap {width: 100%;padding-top: .89em;position: relative;overflow: hidden;height: 24.4em;}
.tl_wrap .tl_back {width: 21.4em;height: 21.4em;margin: 0 auto;background: url(img/back.png) no-repeat center;background-size: 21.4em;z-index: 10;position: relative;transition: 4s all cubic-bezier(1, 0.00001, 0.00001, 1);-webkit-transition: 4s all cubic-bezier(1, 0.00001, 0.00001, 1);}
.tl_shadow {display: block;background: url(img/shadow.png) no-repeat center bottom;width: 100%;height: 2.5em;background-size: 53%;z-index: 2;margin-top: -1.3em;}
.tl_middle {width: 9.8em;position: absolute;left: 50%;top: 50%;margin-top: -5.5em;margin-left: -4.9em;z-index: 30;}

.tl_wheel .tl_page {width: 30%;height: 10.7em; position: absolute;left:35%;text-align: center;transform-origin:center bottom;-webkit-transform-origin: center bottom;}
.tl_page span {width: 100%;height:1.67em;line-height: 1.67em;display: inline-block;font-size: .8em;margin-top: 2.6em;}
.tl_page img {width: 3.2em;margin: .4em auto;}
.tl_wheel .tl_page:nth-child(1) {transform: rotate(23deg);-webkit-transform: rotate(23deg);}
.tl_wheel .tl_page:nth-child(2) {transform: rotate(68deg);-webkit-transform: rotate(68deg);}
.tl_wheel .tl_page:nth-child(3) {transform: rotate(113deg);-webkit-transform: rotate(113deg);}
.tl_wheel .tl_page:nth-child(4) {transform: rotate(158deg);-webkit-transform: rotate(158deg);}
.tl_wheel .tl_page:nth-child(5) {transform: rotate(203deg);-webkit-transform: rotate(203deg);}
.tl_wheel .tl_page:nth-child(6) {transform: rotate(248deg);-webkit-transform: rotate(248deg);}
.tl_wheel .tl_page:nth-child(7) {transform: rotate(293deg);-webkit-transform: rotate(293deg);}
.tl_wheel .tl_page:nth-child(8) {transform: rotate(338deg);-webkit-transform: rotate(338deg);}

.tl_btn span {
    display: block;
    width: 22.2em;
    height: 3.02em;
    margin: 0 auto;
    border-radius: 2em;
    text-align: center;
    font-size: 1.24em;
    line-height: 3.02em;
}
.tl_btn .tl_lottery {
    color: #fff;
    border: 1px solid #fdff70;
}
.tl_fontY {color: #fdff70;}
.tl_btn .tl_bug {
    background: #fff;
    margin-top: 1em;
    color: #e30039;
    display: none;
}

.tl_tip {padding: 0 1.78em 1.78em 2em;}
.tl_tip h3 {width: 100%;text-align: center;display: block;font-size: 1.42em;font-weight: 800;margin: 1.2em 0;color: #ffd200;}
.tl_line {width: 38%;display: inline-block;height: 1px;background: #ff6528;margin-top: .6em;}
.tl_line:nth-child(1) {float: left;}
.tl_line:nth-child(2) {float: right;}
.tl_tip p {
    font-size: 1.04em;
    color: #ffcb3e;
    margin: .5em;
    line-height: 1.5em;
}

.tl_lay {
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 88;
    opacity: .6;
    position: fixed;
    left: auto;
    top: 0;
    display: none;
}
.tl_cont {
    width: 100%;
    text-align: center;
    background: #fff;
    z-index: 99;
    position: fixed;
    top: 17em;
    display: none;
}
.tl_cont h3{
    font-size: 1.33em;
    color: #ff6528;
    margin-top: .9em;
    margin-bottom: .5em;
}
.tl_cont .tl_smalltip{
    width: 100%;
    text-align: center;
    font-size: .98em;
    display: inline-block;
    color: #c0a3a7;
    margin-bottom: 2.4em;
}
.tl_cont .tl_value {
    color: #ff6528;
}
.tl_cont .tl_bug {
    display: inline-block;
    width: 15em;
    height: 3em;
    background: #ff6528;
    color: #fff;
    border-radius: 2em;
    font-size: 1.24em;
    line-height: 3.02em;
    margin-top: -1.9em;
    margin-bottom: 2.2em;
}
.tl_close {
    background: url(img/lay_close.png) no-repeat center bottom;
    width: 100%;
    height: 3em;
    display: block;
    background-size: 3em;
    margin-top: 3em;
    position: absolute;
}

.awarding-instructions {
    text-align: center;
}
.awarding-instructions span:nth-child(1) {
    display: block;
    font-size: 1.42em;
    color: #fff;
}
.awarding-instructions span:nth-child(2) {
    margin: .5em;
    display: inline-block;
    width: 1.24em;
    height: 1.24em;
    background: url(img/down.png) no-repeat center;
    background-size: 100%;
}
.instruct-cont {
    display: none;
    position: fixed;
    bottom: 0;
    background: #fff;
    text-align: center;
    z-index: 9999;
    padding: 0 1.78em;
}
.instruct-cont h4 {
    display: block;
    font-size: 1.42em;
    color: #660033;
    margin-top: 1.78em;
    margin-bottom: 0;
}
.instruct-cont span {
    margin-top: .5em;
    display: inline-block;
    width: 1.24em;
    height: 1.24em;
    background: url(img/up.png) no-repeat center;
    background-size: 100%;
    margin-bottom: 1.6em;

}
.instruct-cont p {
    text-align: left;
    font-size: .98em;
    color: #660033;
    line-height: 1.6em;
    margin-bottom: 1.2em;
}
.money-img {
    display: block;
    width: 14.7em;
    height: 8em;
    margin: 0 auto;
    background: url(img/money/50000.jpg) no-repeat center;
    background-size: 100%;
}
.money2 {
    display: none;
}