.bodyhome{
    padding-bottom: 4.400em;
}
.header {
    height: 4.0em;
}
.header_top{
    height: 4.000em;
    background: url(../../images_mp/fund/background.jpg) repeat-x center; 
    position: relative;
}
.header_top a{
	display:inline-block;
}
.header_top h2{
	height:4.000em;
	line-height:4.000em;
	text-align:center;
}
.header_top h2 span{
	font-size:1.440em;
	color:#fff;
}
.header_top_b{
	position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -1em;
    height:1.76em;
	width:1.76em;
	display:block;
}
.header_top_t{
	position: absolute;
    top: 50%;
    left: 1em;
    margin-top: -0.8em;
    height:1.600em;
	width:0.880em;
	display:block;
}
.header_topi1{
	background: url(../../images_mp/fund/left_icon.png) no-repeat center;
	background-size:0.880em 1.600em;
	display:block;
	height:1.600em;
	width:0.880em;
}
.header_topi2{
	font-size: 1.760em;
    color: #fff;
}
.buy_list{
	border:1px solid #cccccc;
	overflow: hidden;
	margin:0.720em 1.040em;
}
.details_img{margin:0.720em 1.040em;}
.buy_list_a{background: #ffffff;}
.buy_list_a li{border-bottom:1px solid #cccccc;overflow:hidden;line-height:3.600em;position: relative;}
.buy_list_a li em{float:left;width:22%;display:block;font-size:1.120em;text-align: center;}
.buy_list_a li .in{float:right;border:none;text-align:right;margin-right:0.5em;background-color: transparent;}
.buy_list_a li .in1{float:left;border:none;text-align:left;background-color: transparent;font-size: 1.12em;padding-left: 2em;}
.buy_list_a li .details_sel{float:right;border:none;text-align:right;background-color: transparent;font-size: 1.12em;color:#000;line-height:3.214em;height: 3.214em;}
.buy_list_a li i{float:right;margin-right:1em;font-size: 1.12em;}
.l1::-webkit-input-placeholder { 
	color: #000; 
}
.details_xyb{
	margin:0.720em 1.040em;
}
.details_tishi{
	margin:0.720em 1.040em;
}
.details_tishi h2{
	color:#eb1e33;
	margin:1.28em auto 0.72em auto;
	font-size: 1.12em;
}
.details_tishi p{
	color:#eb1e32;
	line-height:1.5;
	text-indent:1.92em;
}
.my_account {
	margin-left: 22%;
	text-align: right;
	overflow: hidden;
	font-size: 1.12em;
	margin-right: 1em;
}
.my_account1 {
	margin-left: 22%;
	text-align: right;
	overflow: hidden;
	font-size: 1.12em;
}
.my_account span{

}
.x { position: absolute; right: 0px;top:50%;margin-top:-9px;width: 18px; height: 18px;background: url(../../images_mp/btn_del@2x.png) center; background-size: 18px 18px; }
.t{overflow: hidden; position: relative;margin-left: 22%;}
.opaSelect{ position: absolute; right: 0; top: 0;opacity: 0; height: 100%; }
.m { position: absolute;right: 0px; z-index: 1; width: 12px; height: 8px; top:50%;margin-top: -4px; background: url(../../images_mp/all_ico_150107.png) 0 -75px; background-size: 150px 300px; }
.n { float: right; line-height: 40px; margin: 3px 9px 0 3px; color: #1b7ad5; font-size: 1.2em; }